<!doctype html>
<html lang="en">
  <head>
    <title>Stream Video</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type=text/css>body { 
        text-align: center;}</style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div style="width:800px; margin:0 auto;"><h1>Streaming Video</h1></div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div style="width:800px; margin:0 auto;"><h1 class="text-justify">Video Stream</h1></div>
                    <img src="{{ url_for('video_feed') }}" class="mx-auto d-block img-thumbnail img-fluid" >
                </div>
                <div class="col-lg-6">
                    <div style="width:800px; margin:0 auto;"><h3>PUT THIS BUTTON TO KNOW YOUR EMOTION</h3></div>
                    <a href="{{ url_for('get_prediction') }}"> 
                        <button class="btn btn-primary btn-lg mx-auto d-block"> 
                            PRESS ME 
                        </button> 
                    </a> 
                    <h3 class="text-justify font-weight-bold">Your emotion: {{emotion}} </h3>
                    <h3 class="text-justify font-weight-bold">Your gender: {{gender}} </h3>
                    <h3 class="text-justify font-weight-bold">Your age: {{age}} </h3>
                </div>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

